﻿@model IList<BankLoanSystem.Models.Right>

<h2>Edit User Rights</h2>


@using (Ajax.BeginForm("EditRights", "EditRights", new AjaxOptions()
{

    OnFailure = "handleError",
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "changeContainer",
    LoadingElementId = "loadingDiv"
}, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    <label id="successLabel">@ViewBag.SuccessMsg</label>
    <div class="form-horizontal">





        <table class="dl-horizontal">
            <tr class="checkbox">
                <td>
                    @Html.CheckBox("All", new { @id = "CheckAll" }) &nbsp &nbsp &nbsp
                </td>
                <td>
                    Check All
                </td>
            </tr>

            @for (var i = 0; i < Model.Count; i++)
            {
                <tr class="checkbox">
                    <td>
                        @Html.HiddenFor(x => x[i].rightId)
                        @Html.HiddenFor(x => x[i].userId)
                        @Html.HiddenFor(x => x[i].editorId)
                        @Html.CheckBoxFor(x => x[i].active, new { @class = "All" }) &nbsp &nbsp &nbsp

                    </td>
                    <td>
                        <text>Disable</text> @Html.DisplayFor( x => x[i].description)
                    </td>
                </tr>
            }
        </table>

        <div class="form-group">
            <div>

                <nav>
                    <ul class="pager">
                        @*<input type="submit" value="Update" class="btn btn-default" />*@
                        <li><input type="button" id="backToProfile" value="Back to Profile" class="btn btn-primary btn-white m-b" style="float:left" /></li>
                        <li><input type="submit" value="Update"  class="btn btn-primary m-b" /></li>

                        

                        </ul>
                        </nav>
            </div>


        </div>
    </div>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#CheckAll').on('change', function () {
            if ($(this).is(':checked')) {
                //alert('checked');
                $('.All').prop('checked', true);

            }
            else {
                //alert('unchecked');
                $('.All').prop('checked', false);
            }
        });
    });

    $(function () {
        $('#backToProfile').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("editUser", "UserManagement")',
                type: 'GET',


                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();
                }
            });
        });
    });
</script>

