﻿@model IList<BankLoanSystem.Models.Right>

<h2>Set Rights</h2>

@using (Ajax.BeginForm("SetRights", "EditRights", new AjaxOptions()
{

    OnFailure = "handleError",
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "changeContainer",
    LoadingElementId = "loadingDiv"
}, new { id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <label id="successLabel">@ViewBag.SuccessMsg</label>
        <label id="errorLabel">@ViewBag.ErrorMsg</label>

        <hr /><p>All &nbsp</p>
        @Html.CheckBox("All", new { @id = "CheckAll" })


        <table class="dl-horizontal"> 


            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(x => x[i].rightId)
                        @Html.HiddenFor(x => x[i].userId)
                        @Html.HiddenFor(x => x[i].editorId)
                        @Html.CheckBoxFor(x => x[i].active, new { @class = "All" }) &nbsp &nbsp &nbsp

                    </td>
                    <td>
                        @Html.DisplayFor(x => x[i].description)
                    </td>
                </tr>
            }
        </table>

        <div class="form-group">
            <div>
                <nav>
                    <ul class="pager">
                        <li><input type="button" id="Create" value="Create New User" class="btn btn-primary btn-white m-b" style="float:left" /></li>
                        <li><input type="submit" value="Set" class="btn btn-primary m-b"/></li>
                        @*<li>@Ajax.ActionLink("Cancel", "Create", "CreateUser", null, new AjaxOptions()
                       {

                           OnFailure = "handleError",
                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "changeContainer"
                       }, new { @class = "btn btn-primary m-b" })<input id="Cancel" type="button" value="Cancel" onclick="location.href=''" class="btn btn-primary m-b" /></li>*@
                    </ul>
                </nav>
                

                
            </div>


        </div>
    </div>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#CheckAll').on('change', function () {
            if ($(this).is(':checked')) {
                //alert('checked');
                $('.All').prop('checked', true);

            }
            else {
                //alert('unchecked');
                $('.All').prop('checked', false);
            }
        });
    });



    $(function () {
        $('#Create').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("Create", "CreateUser")',
                type: 'GET',
                
                
                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();
                }
            });
        });
    });

</script>

