﻿@model BankLoanSystem.Models.ForgotPassword

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_login.cshtml";

}

@if (ViewBag.Message != null)
{

    @Html.AntiForgeryToken()


    <h3>Email has been Sent!</h3>

        <p>@ViewBag.Message </p>
        <br>
        <p> If you didn't receive mail click below and resend the mail </p>

        <small> @Html.ActionLink("Back to Send Email", "Index")</small>


}

@if (ViewBag.Message == null)
{


    <h3>Account Help</h3>
    <p>
        <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
    </p>
    <p>Enter the email address you used to create the account and we will send you instructions</p>

    using (Html.BeginForm("Index", "ForgotPassword", FormMethod.Post, new { @class = "m-t" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label id="successLabel">@ViewBag.SuccessMsg</label>
            <label id="errorLabel">@ViewBag.ErrorMsg</label>

            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Send</button>


    }


    @Html.ActionLink("Back to Login", "UserLogin", "Login")

}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
