﻿@model BankLoanSystem.Models.ResetPassword

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_login.cshtml";
}

@if (ViewBag.message == null)
{
    <h3>Reset Password</h3>

    using (Html.BeginForm("ResetPassword", "ForgotPassword", FormMethod.Post, new { @class = "m-t" }))
    {
        @Html.AntiForgeryToken()



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">


            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

        </div>


        <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>


    }
}

@if (ViewBag.message != null)
{
    <h3>Your Password Successfully Updated!</h3>

    <p>Click the Link below to Login </p>

    @Html.ActionLink("Back to Login", "UserLogin", "Login")

}



