﻿@model BankLoanSystem.Models.ResetPassword

@{
    ViewBag.Title = "Reset Password";
}

@if (ViewBag.message == null)
{

    using (Ajax.BeginForm("ChangePassword", "UserManagement", new AjaxOptions()
    {

        OnFailure = "handleError",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "changeContainer",
        LoadingElementId = "loadingDiv"
    } , new { @class = "m-t" }))
    {
        @Html.AntiForgeryToken()



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">


            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

        </div>
        <ul class="pager">
            <li><input type="button" id="backToEdit" value="Cancel" class="btn btn-primary btn-white m-b" style="float:left;margin-right:5px" /></li>
            <li>
                <button type="submit" class="btn btn-primary block m-b">Reset Password</button>
            </li>


        </ul>

    }
}

                @if (ViewBag.message != null)
                {
                    <h3 id="successLabel">Password Successfully Updated!</h3>
                    <ul class="pager">
                        <li><input type="button" id="backToEdit" value="Back to Edit User" class="btn btn-primary btn-white m-b" style="float:left" /></li>

                        @*@Html.ActionLink("Back to Edit User", "editUser", "UserManagement")*@
                    </ul>
                }

     
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>

    $(function () {
        $('#backToEdit').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("editUser")',
                type: 'GET',


                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();
                }
            });
        });
    });
</script>

