﻿@model BankLoanSystem.Models.User

@{
    ViewBag.Title = "editUser";
}


@if (ViewBag.Manage != null && ViewBag.Manage.ToString().Contains("Users"))
{
    <h3>Update User Profile</h3>
    <p>
        <button type="button" id="editRights" class="pull-right text-right">
            <span class="glyphicon glyphicon-pencil"> </span>

            <span>Edit Rights</span>

        </button>
    </p>

            <h1 class="m-b-xs"></h1>

}



@using (Ajax.BeginForm("editUser", "UserManagement", new AjaxOptions()
{

    OnFailure = "handleError",
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "changeContainer",
    LoadingElementId = "loadingDiv"
}, new { id = "form" }))
{
    @Html.AntiForgeryToken()
  
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <label id="successLabel">@ViewBag.SuccessMsg</label>
        <label id="errorLabel">@ViewBag.ErrorMsg</label>
        <div class="form-group">
            @Html.LabelFor(model => model.UneditUserName, htmlAttributes: new { @class = "col-sm-2 control-label" })<br/>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.UneditUserName, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UneditUserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "col-sm-2 control-label" })<br />
            <div class="col-sm-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-sm-2 control-label" })<br />
            <div class="col-sm-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-2 control-label" })<br />
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "col-sm-2 control-label" })<br />
            <div class="col-sm-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (!ViewBag.isSame)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-sm-2 control-label" })<br />
                <div class="col-sm-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "col-sm-2 control-label" })<br />
                <div class="col-sm-10">
                    @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-control" })


                </div>
            </div>

        }

        <div class="form-group">
            <div >

                <nav>
                    <ul class="pager">

                                                @if (!ViewBag.isSame)
                                                {
                                                        
                                                    <li><input type="button" id="backToList" value="Back to List" class="btn btn-primary btn-white m-b" style="float:left" /></li>


                                                    


                        }

                        @if (ViewBag.isSame)
                {

                           
                                    @*<li> @Html.ActionLink("Back to Profile", "Details",null, new {  @class="btn btn-primary m-b"})</li>*@
                                    <li><input type="button" value="Back to Profile" id="backToProfile" class="btn btn-primary btn-white m-b" style="float:left" /></li>



                        }

                        <li><input type="submit" value="Update" class="btn btn-primary m-b" /></li>

                        <li><input type="button" id="clear" value="Reset" class="btn btn-primary m-b" /></li>

                        <li><input type="button" id="ChangePassword" value="Change Password" class="btn btn-primary m-b" /></li>
                    </ul>
                </nav>

            </div>


        </div>

    </div>
}

<div>
    
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
                $('#clear').click(function () {
                    document.getElementById("form").reset();
                });


                $(function () {
                    $('#editRights').click(function () {

                        $('#loadingDiv').show();
                        $.ajax({
                            url: '@Url.Action("EditRights", "UserManagement")',
                            type: 'GET',


                            success: function (partialView) {
                                $('#loadingDiv').hide();
                                $('#changeContainer').html(partialView);
                                $('#changeContainer').show();
                            }
                        });
                    });
                });

    $(function () {
        $('#ChangePassword').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("ChangePassword", "UserManagement")',
                type: 'GET',


                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();
                }
            });
        });
    });

    $(function () {
        $('#backToList').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("UserList")',
                type: 'GET',


                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();
                }
            });
        });
    });

    $(function () {
        $('#backToProfile').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("Details")',
                type: 'GET',


                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();
                }
            });
        });
    });

</script>
