﻿
@model IEnumerable<BankLoanSystem.Models.UserLogin>

@{
    ViewBag.Title = "View";
}




<div class="col-lg-6">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewBag.Manage</h5>
            
        </div>
        
@if (@ViewBag.noList != 0)
{
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Html.DisplayNameFor(model => model.userName)</th>
                        <th>@Html.DisplayNameFor(model => model.createdName)</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        int a = 0;
                        foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <p>@(a+=1)</p>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.userName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.createdName)
                            </td>
                            @if (item.isEdit)
                            {
                                <td>
                                    @*@Html.ActionLink("Edit", "editUserSet", new { editId = item.userId }) |
    @Html.ActionLink("Details", "Detailsset", new { id = item.userId }) |*@
                                    @*@Html.ActionLink("Delete", "PrevDelete", new { id = item.userId }, new { onclick = "return confirm('Are you sure you wish to delete this user?');" })*@

                                    @Ajax.ActionLink("Edit", "editUserSet", new { editId = item.userId }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }) |
                                    
                                    @Ajax.ActionLink("Details", "Detailsset", new { id = item.userId }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }) |
                                    @Ajax.ActionLink("Delete", "PrevDelete", new { id = item.userId }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
                                </td>
                            }
                            else {
                                <td>

                                    @*@Html.ActionLink("Details", "Detailsset", new { id = item.userId })*@
                                    @Ajax.ActionLink("Details", "Detailsset", new { id = item.userId }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" })

                                </td>
                            }



                        </tr>
                          
                        }
                        }

                </tbody>
            </table>



                        }
                        else
                        {
                            <h3 id="noResult"> NO RESULT </h3>
                        }

        </div>
    </div>








