﻿@model BankLoanSystem.Models.UserLogin
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_login.cshtml";
}

<div>
    <h1 class="logo-name">TFN</h1>
</div>

<h3>Welcome to TFN</h3>
<p>
    <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
</p>
<p>Log in.</p>


@using (Html.BeginForm("EmployeeLogin", "Login", FormMethod.Post, new { @class = "m-t" }))
{
    @Html.AntiForgeryToken()

    <div class="text-danger">
        <span>@Html.DisplayFor(item => item.lbl)</span>
    </div>
    <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", placeholder = "User Name" } })
            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">


            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

        </div>


        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

        


}



