﻿@model BankLoanSystem.Models.CurtailmentModel
@{
    ViewBag.Title = "Step5";

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="row">



    <div class="container body-content">
        <h2>Step5</h2>


        <h4>Curtailment</h4>
        <hr />
        <script type="text/javascript">
            function ValidateData() {
                if ($(".validateID").attr('value') == "0" || $(".validateID").attr('value') == "") {
                    alert("Enter valide ID ");
                    return false;
                }
                else if ($(".validateName").attr('value') == "") {
                    alert(" Enter name of employee.");
                    return false;
                }
                else if ($(".validateContact").attr('value') == "") {
                    alert("Enter Contact number of Employee.");
                    return false;
                }
                else if ($(".validateAddress").attr('value') == "") {
                    alert("Enter address of employee.");
                    return false;
                }
                return true;
            }
        </script>



        @*@using (Ajax.BeginForm("Step5", "LoanSetUpStep5", new AjaxOptions()
            {

                OnFailure = "handleError",
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "changeContainer",
                LoadingElementId = "loadingDiv"
            }, new { id = "form" }))*@
        @using (Html.BeginForm("Step5", "LoanSetUpStep5"))

        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <input type="hidden" id="cal" name="cal" />
                <div class="form-group">
                    <table width="100%">
                        <tr>
                            <td width="25%">@Html.LabelFor(model => model.CalculationBase, htmlAttributes: new { })</td>
                            <td width="60%">: @Html.RadioButtonFor(m => m.CalculationBase, "Full payment", new { @id = "rdFullPayment" }) Full payment
                            @Html.RadioButtonFor(m => m.CalculationBase, "Advance Fee", new { @id = "radioAdvance" }) Advance Fee</td>
                        </tr>
                    </table>
                    <div >                   
                        @Html.ValidationMessageFor(model => model.CalculationBase, "", new { @class = "text-danger" })
                    </div> 
                    
                    <table width="100%">
                        <tr>
                            <td width="25%">@Html.LabelFor(model => model.TimeBase, htmlAttributes: new { })</td>
                            <td width="60%">
                              :  @Html.RadioButtonFor(m => m.TimeBase, "Month", new { @id = "rdMonth", @class = "TimeBase" }) Month
                            @Html.RadioButtonFor(m => m.TimeBase, "Days", new { @id = "rdDay", @class = "TimeBase" }) Days
                        </td>
                    </tr>
                </table>
                <div>
                    @Html.ValidationMessageFor(model => model.TimeBase, "", new { @class = "text-danger" })
                </div>                      
                </div>

                <div class="form-group">                    
                   
                    
                </div>               
               <br />
                @*@{
                        var grid = new WebGrid(Model.InfoModel);
                    }

                    @grid.GetHtml();*@

                <div class="form-group">
                    <div style="text-align: center;">
                        <table cellpadding="3" cellspacing="0" border="1" style="border-color: Black; border-collapse: collapse; text-align: center; width: 90%;">
                            <tr style="font-weight: bold; background-color: darkgray; height: 15px;">
                                <td style="width: 15%;"  height="30px">
                                    <p id="cuId"> Curt#</p>     </td>
                                <td style="width: 30%;" height="30px">
                                     <table>
                                            <tr>
                                                <td width="30%">@*Time Period*@                                                  
                                                        <p id="time">Month</p>      
                                                @*@Html.LabelFor(m=>m.TimeBase, htmlAttributes: new { id = "time" })*@                                             
                                                </td>
                                                <td></td>
                                            </tr>
                                      </table>
                                </td>
                                <td style="width: 50%;"  height="30px">
                                    <table>
                                        <tr>
                                            <td width="30%">
                                                <p id="pecentage">Percentage(%)</p>      
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                   
                                </td>



                            </tr>
                            @for (int a = 0; a < Model.InfoModel.Count; a++)
                            {
                                <tr>
                                    <td style="width: 15%;">@Model.InfoModel[a].CurtailmentId</td>
                                    <td style="width: 30%;" >
                                        <table>
                                            <tr>
                                                <td>@Html.TextBoxFor(m => m.InfoModel[a].TimePeriod, new { })</td>
                                                <td>@Html.ValidationMessageFor(m => m.InfoModel[a].TimePeriod, "", new { @class = "text-danger" })</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width: 50%;">
                                       
                                        <table>
                                            <tr>
                                                <td>
                                                    @*@Html.TextBoxFor(m => m.InfoModel[a].Percentage, new { @onchange = "PercentageOnChange(" + @a + ")", @Name = "percentage" })*@
                                                    @Html.TextBoxFor(m => m.InfoModel[a].Percentage, new { })
                                                   
                                                   
                                                        @*<input type="submit" value="Add Row" name="submit" title="Add New Data" style="background: url(~/Images/small_loading.gif); width:100px; height:25px;" />*@
                                                        @*<a href="#">
                <img src="~/Images/small_loading.gif"></img>
            </a>*@
                                                        
                                                   

                                                </td>
                                                <td>
                                                    @Html.ValidationMessageFor(m => m.InfoModel[a].Percentage, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @if (a == Model.InfoModel.Count - 1)
                                                    {
                                                        <input type="submit" id="1" value="+" name="submit" title="Add New Row"   width:100px; height:25px; />
                                                        <input type="submit" id="1" value="-" name="submit" title="Delete Last Row" class="cancel" width:100px; height:25px; />
                                                        @*<input type="submit" id="1" value="Add Row" name="+" title="Add New Row" src="~/Images/addRow.png" width:100px; height:25px;/>
                                                        <input type="submit" id="1" value="Delete Row" name="submit" title="Delete Last Row" class="cancel" src="~/Images/deleteRow.png" width:100px; height:25px; />*@
                                                       

                                                        @*<button type="submit" value="Delete Row" name="submit" title="Delete Last Row" class="cancel">
                                                            <img src="~/Images/deleteRow.png" alt="test" />
                                                            <br />
                                                            Test
                                                        </button>*@
                                                    }
                                                    @*@if (Model.InfoModel.Count > 2 && a == Model.InfoModel.Count - 1)
                                                    {
                                                        <input type="submit" id="1" value="Delete Row" name="submit" title="Delete Last Row" class="btn btn-primary m-b cancel" src="~/Images/deleteRow.png" width:100px; height:25px; />                                                       
                                                    }*@
                                            </td> 
                                            </tr>
                                        </table>
                                    </td>
                                    
                                </tr>

                            }

                        </table>
                       
                        
                    </div>
                </div>


                <div class="form-group">

                    @if (Model.InfoModel.Count >= 1)
                    {
                        <span style="background-color: yellow">
                            Remaining Percentage: @Model.RemainingPercentage
                        </span>
                    }
                </div>
                <br />
                <br />
                <div class="form-group">
                    <table width="100%">
                        <tr>
                            <td width="25%">@Html.LabelFor(model => model.Activete, htmlAttributes: new { })</td>
                            <td width="60%">
                                :  @Html.RadioButtonFor(m => m.Activete, "Yes", new { @id = "rdYes", @class = "Active" }) Yes
                                @Html.RadioButtonFor(m => m.Activete, "No", new { @id = "rdNo", @class = "Active" }) No
                            </td>
                        </tr>
                    </table>
                    </div>
                </div>
            <div class="form-group">
                <div>

                    <nav>
                        <ul class="pager">


                            <li>
                                <input type="button" id="clear" value="Clear" class="btn btn-primary m-b" style="float:left;margin-left:10px" />
                            </li>
                            <li>
                                <input type="button" value="Back" name="subBack" id="btnPreStep3" class="btn btn-primary m-b cancel" style="float: right; margin-left: 10px" />
                            </li>
                          
                            @*@if(ViewBag.ErrorMsg == "" && Model.RemainingPercentage == 0)
                            {*@
                                <li>
                                    <input type="submit" value="Create" name="submit" id="btnPreStep3" class="btn btn-primary m-b cancel" style="float: right; margin-left: 10px"/>
                                </li>
                            @*}*@
                        </ul>
                    </nav>




                </div>
            </div>






        }

    </div>


</div>

<script type="text/javascript">
    $(function () {
        $('#btnPreStep3').click(function () {
            alert('aaaa');
            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("Step5", "LoanSetUpStep5")',
                type: 'GET',
                data: { edit: 1 },

                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();

                },
                error: function (request, status, error) {
                    handleErrorMsg(request.responseText);

                }
            });
        });
    });

    $('#clear').click(function () {
        alert('hi');
        document.getElementsByTagName("form")[0].reset();
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#rdFullPayment').change(function () {
            if ($(this).is(':checked')) {
                //alert("Full Payment");
                document.getElementById("cal").value = "Full Payment";
            }
        });
        $('#radioAdvance').change(function () {
            if ($(this).is(':checked')) {
                //alert("Advance");
                document.getElementById("cal").value = "Advance";
            }
        });
    });
</script>
<script type="text/javascript">
    function AddNewRow(a) {
        @*//@onchange = "AddNewRow(" + @a + ")"*@
        var model = @Html.Raw(Json.Encode(Model));
        var val = document.getElementById("percentage").value; // model.InfoModel[a].Percentage;
        model.InfoModel.count = 2;
        alert(val);

    }
    function PercentageOnChange(a) {
        alert(a);
    }
</script>

<script type="text/javascript">
    $('.TimeBase').change(function () {       
        var value = $(this).filter(':checked').val();
        $("#cuId").text("Curt#")
        $("#pecentage").text("Percentage(%)")
        if (value == "Month") {                
            $("#time").text(document.getElementById("rdMonth").value)  
        }
        else if (value == "Days") {
            $("#time").text(document.getElementById("rdDay").value)
                
        }
    });

    $('#clear').click(function () {

        document.getElementsByTagName("form")[0].reset();

    });

    //$('input[name=submit]').click(function () {
    //    var test = document.getElementById("rdMonth").value;
    //    alert(test);
    //        var value = $(this).filter(':checked').val();
    //        $("#cuId").text("Curt# Id")
    //        $("#pecentage").text("Percentage(%)")
    //        if (test == "Month") {                
    //            $("#time").text(document.getElementById("rdMonth").value)  
    //        }
    //        else if (value == "Days") {
    //            $("#time").text(document.getElementById("rdDay").value)
                
    //        }
    //    });
   

    


</script>