﻿@model BankLoanSystem.Models.Branch

@{
    ViewBag.Title = "CreateBranch";
}

<h2>CreateBranch</h2>

@using (Ajax.BeginForm("CreateBranch", "CreateBranch", new AjaxOptions()
{

    OnFailure = "handleError",
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "changeContainer",
    LoadingElementId = "loadingDiv"
}, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <label id="successLabel">@ViewBag.SuccessMsg</label>
        <div class="form-group">
            <div class="control-label col-sm-2">
                @Html.LabelFor(model => model.BranchName, htmlAttributes: new { })<span style="color:red">*</span>
            </div>
            <div class="col-xs-8">
                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            
                <div class = "control-label col-sm-2" >
                    @Html.LabelFor(model => model.BranchAddress1, htmlAttributes: new { })<span style="color:red">*</span>
                </div>
                
            <div class="col-xs-8">
                @Html.EditorFor(model => model.BranchAddress1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchAddress1, "", new { @class = "text-danger" })
            </div>
            </div>
        <div class="form-group">

            <div class="control-label col-sm-2">
                @Html.LabelFor(model => model.BranchAddress2, htmlAttributes: new { })
            </div>

            <div class="col-xs-8">
                @Html.EditorFor(model => model.BranchAddress2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchAddress2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-sm-2">
                @Html.LabelFor(model => model.StateId, htmlAttributes: new { })<span style="color: red">*</span>
            </div>
            <div class="col-xs-8">
                @Html.DropDownListFor(model => model.StateId, null, "Select state", htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class = "control-label col-sm-2">
                @Html.LabelFor(model => model.BranchCity, htmlAttributes: new { })<span style="color:red">*</span>
            </div>
            
            <div class="col-xs-8">
                @Html.EditorFor(model => model.BranchCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-sm-2">
                @Html.LabelFor(model => model.ZipPre, htmlAttributes: new { })<span style="color: red">*</span>
            </div>

            <div class="col-xs-4" style="width:32.2%">
                @Html.EditorFor(model => model.Extention, new { htmlAttributes = new { @class = "form-control", placeholder = "Extension", @id = "branchZipExten" } })
                @Html.ValidationMessageFor(model => model.Extention, "", new { @class = "text-danger" })
            </div>
            <span class="glyphicons glyphicon-minus" style="float:right;margin-top:20px"></span>
            <div class="col-xs-4">
                @Html.EditorFor(model => model.ZipPre, new { htmlAttributes = new { @class = "form-control", placeholder = "Zip Code" , @id = "branchZipPre" } })
                @Html.ValidationMessageFor(model => model.ZipPre, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class = "control-label col-sm-2">
                @Html.LabelFor(model => model.BranchEmail, htmlAttributes: new { })
            </div>
            
            <div class="col-xs-8">
                @Html.EditorFor(model => model.BranchEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchEmail, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            <div class = "control-label col-sm-2">
                @Html.LabelFor(model => model.BranchPhoneNum1, htmlAttributes: new { })<span style="color:red">*</span>
            </div>
            
            <div class="col-xs-8">
                @Html.EditorFor(model => model.BranchPhoneNum1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchPhoneNum1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-2">
                @Html.LabelFor(model => model.BranchPhoneNum2, htmlAttributes: new { })
            </div>

            <div class="col-xs-8">
                @Html.EditorFor(model => model.BranchPhoneNum2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchPhoneNum2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-2">
                @Html.LabelFor(model => model.BranchPhoneNum3, htmlAttributes: new { })
            </div>

            <div class="col-xs-8">
                @Html.EditorFor(model => model.BranchPhoneNum3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchPhoneNum3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class = "control-label col-sm-2">
                @Html.LabelFor(model => model.BranchFax, htmlAttributes: new { })
            </div>
            
            <div class="col-xs-8">
                @Html.EditorFor(model => model.BranchFax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchFax, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div>
                <nav>
                    <ul class="pager">

                        <li><input type="submit" value="Create" class="btn btn-primary m-b" style="float:left" /></li>
                        <li><input type="button" id="clear" value="Clear" class="btn btn-primary m-b" style="float:left;margin-left:10px" /></li>
                    </ul>
                </nav>
                
                
                
            </div>
        </div>
        
    </div>
       
}

<script>


    $('#clear').click(function () {
        document.getElementById("form").reset();
    });


</script>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>