﻿@model BankLoanSystem.Models.DashBoard
@{
    ViewBag.Title = "SetupDashBoard";
}

<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-circle" src="~/Images/profile_small.jpg">
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">@Model.userName</strong>
                </span> <span class="text-muted text-xs block">@Model.roleName<b class="caret"></b></span>
            </span>
        </a>

        <ul class="dropdown-menu animated fadeInRight m-t-xs">

            <li class="divider"></li>
            <li>@Html.ActionLink("Log out", "UserLogin", "Login", null, null)</li>
        </ul>
    </div>
    <div class="logo-element">
        TFN
    </div>
</li>
<li class="navig1">
    <a href="#"><span class="glyphicon glyphicon-th-large" style="margin-right: 2px;"></span> <span class="nav-label">Company Setup</span> <span class="caret arrow" style="margin-top: 5px;"></span></a>
    <ul class="nav nav-second-level collapse">
        <li >
            @Ajax.ActionLink("Step 1", "Step1", "SetupProcess", new {edit = 1}, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { data_toggle = "tooltip", title = "Some tooltip text!", @class = "tab 1" })


          
                

                    @*<a href="#">Setup 1</a>*@
</li>


            <li>
                @*<a href="#">Setup 2</a>*@

                @Ajax.ActionLink("Step 2", "Step2", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 2" })
            </li>


            <li>

                @Ajax.ActionLink("Step 3",  "Step3", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 3" })
                @*<a href="#">Setup 3</a>*@
            </li>


 
            <li>
                @Ajax.ActionLink("Step 4", "Step4", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 4" })
                @*<a href="#">Setup 4</a>*@
            </li>



            <li>
                @Ajax.ActionLink("Step 5", "Step5", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 5" })
                @*<a href="#">Setup 5</a>*@
            </li>


       
    </ul>
</li>

<li class="navig2">
    <a href="#"><span class="glyphicon glyphicon-dashboard" style="margin-right: 2px;"></span>  <span class="nav-label">Loan Setup</span><span class="caret arrow" style="margin-top: 5px;"></span></a>
    <ul class="nav nav-second-level collapse">
        <li>@Ajax.ActionLink("Step 1", "Step6", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 6" })</li>
        <li>@Ajax.ActionLink("Step 2", "Step7", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 7" })</li>
        <li>
            @Ajax.ActionLink("Step 3", "Step8", "SetupProcess", null, new AjaxOptions { OnSuccess = "partialLoad();", OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 8" })
            @*<a href="#">Setup 5</a>*@
        </li>
        <li>@Ajax.ActionLink("Step 4", "Step9", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 9" })</li>
        <li>@Ajax.ActionLink("Step 5", "Step10", "SetupProcess", null, new AjaxOptions { OnFailure = "handleErrorMsg", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "changeContainer", LoadingElementId = "loadingDiv" }, new { @class = "tab 10" })</li>
        

    </ul>
</li>











