﻿@model BankLoanSystem.Models.Title
@{
    ViewBag.Title = "Step9";
    
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



<div class="row">
    <div class="container body-content">

        <h2>Step 4 - Title</h2>
        @using (Ajax.BeginForm("Step9", "SetupProcess", new AjaxOptions()
            {
                OnSuccess = "Progress(10)",
                OnFailure = "handleErrorMsg",
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "changeContainer",
                LoadingElementId = "loadingDiv"
            }, new { id = "form" }))
            {

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    <div class="control-label col-sm-2">
                        @Html.Label("Do you need title to be tracked?", htmlAttributes: new { })

                    </div>

                    <div class="control-label col-sm-2">

                        @Html.CheckBox("IsTitleTrack", new { htmlAttributes = new { @id = "IsTitleTrack", Value = false } })
                       

                    </div>
                </div>
                <div id="needTrack">
                    <div class="form-group">
                        <div class="control-label col-sm-2" style="margin-top:10px">
                            @Html.Label("Title Accepted Method", htmlAttributes: new { })<span style="color: red">*</span>

                        </div>
                        <div class="col-xs-8">
                            @Html.DropDownList("TitleAcceptMethod", null, "-- Select Accepted Method --", htmlAttributes: new { @class = "form-control", @id = "acceptMethod", @onchange = "passvalue(this);" })

                        </div>
                       <div class="form-group" id="ScannTitle">
                           <div class="control-label col-sm-2" style="margin-left:15px;margin-top:20px">
                               @Html.Label("Upload Title", htmlAttributes: new { })

                           </div>
                           <div class = "col-xs-8">
                               <input type="file" name="file" id="file" style="margin-top:20px"/>
                               
                           </div>
                           <div class = "col-xs-8">
                               <input type="submit" value="Upload Title" class="btn btn-primary m-b" />
                           </div>
                       </div>
                        
                        
                        <div class="control-label col-sm-2" style="margin-top:15px">
                            @Html.Label("Time limit to track", htmlAttributes: new { })<span style="color: red">*</span>

                        </div>

                        <div class="col-xs-8">
                            @Html.DropDownList("ReceivedTimeLimit", null, "-- Select Time Limit --", htmlAttributes: new { @class = "form-control", id = "acceptMethod" })

                        </div>
                            

                        <div class="control-label col-sm-2" style="margin-top:20px">
                            @Html.LabelFor(model => model.RemindEmail, htmlAttributes: new { })<span style="color: red">*</span>

                        </div>
                        @if (ViewBag.Edit == 1)
                        {
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.RemindEmail, new { htmlAttributes = new { @class = "form-control", @id = "autoRemindEmail" } })
                                @Html.ValidationMessageFor(model => model.RemindEmail, "", new { @class = "text-danger" })
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.RemindEmail, new { htmlAttributes = new { @class = "form-control", @id = "autoRemindEmail",@Value = ViewBag.Email } })
                                @Html.ValidationMessageFor(model => model.RemindEmail, "", new { @class = "text-danger" })
                            </div>
                        }

                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-sm-2">
                        @Html.Label("Do you need receipt or invoice for advance?", htmlAttributes: new { })

                    </div>

                    <div class="control-label col-sm-2">

                        @Html.CheckBox("IsReceipRequired", new { htmlAttributes = new { @id = "needReceiptCheck", Value = false } })

                    </div>
                </div>
                <div id="needReceipt">
                    <div class="form-group">
                        <div class="control-label col-sm-2">
                            @Html.Label("How do you need receipt or invoice?", htmlAttributes: new { })<span style="color: red">*</span>

                        </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                
                                @Html.CheckBoxFor(model => model.NeedPyhsical, new { htmlAttributes = new { @id = "needReceiptCheck", Value = false } })
                                @Html.ValidationMessageFor(model => model.NeedPyhsical, "", new { @class = "text-danger" })
                            </div>
                            <div class="control-label col-sm-2">
                                @Html.LabelFor(model => model.NeedPyhsical, htmlAttributes: new { @style = "font-weight:normal" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-2">

                                @Html.CheckBoxFor(model => model.NeedScanCopy, new { htmlAttributes = new { @id = "needReceiptCheck", Value = false } })
                                @Html.ValidationMessageFor(model => model.NeedScanCopy, "", new { @class = "text-danger" })
                            </div>
                            <div class="control-label col-sm-2">
                                @Html.LabelFor(model => model.NeedScanCopy, htmlAttributes: new { @style = "font-weight:normal" })

                            </div>
                        </div>
                        
                        

                    
                </div>








                <div class="form-group">
                    <div>
                        <nav>
                            <ul class="pager">
                                <li>
                                    <input type="submit" value="Next" class="btn btn-primary m-b" style="float: right; margin-left: 10px" />
                                </li>
                                <li>
                                    <input type="button" value="Back" id="btnPreStep9" class="btn btn-primary m-b" style="float: right; margin-left: 10px" />
                                </li>
                                <li>
                                    <input type="button" id="clear" value="Clear" class="btn btn-primary m-b" style="float: right; margin-left: 10px" onclick="clearFunction()"/>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
               

        }
    </div>
</div>


<script language="javascript" type="text/javascript">
   
    function passvalue(e){
        if(e.value == "scanned title adequate"){
            $('#ScannTitle').show();
            //alert(e.value);

        }
    }
</script>
<script language="javascript" type="text/javascript">
    $('#clear').click(function () {
        document.getElementsByTagName("form")[0].reset();
    });
</script>    
<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        
            $('#clear').click(function () {
                document.getElementsByTagName("form")[0].reset();
                $('#needTrack').hide();
                $('#needReceipt').hide();
                $('#ScannTitle').hide();
            });  
        

        $.fn.loadFunc = function () {

            $('#needTrack').hide();
            $('#needReceipt').hide();
            $('#ScannTitle').hide();
           
            $('#IsTitleTrack').change(function () {

                if (this.checked)
                {

                    $('#needTrack').show();
                    
                }

                else
                {
                $('#needTrack').hide();
                }

            });

            $('#IsReceipRequired').change(function () {

                if (this.checked) {
                    $('#needReceipt').show();
                }

                else {
                    $('#needReceipt').hide();
                }

            });

        }

        $.fn.editFunc = function()
        {
            $('#ScannTitle').hide();


            if($('#IsTitleTrack').prop('checked')==true){

                $('#needTrack').show();
            }
            else {

                $('#needTrack').hide();

            }

            if($('#IsReceipRequired').prop('checked')==true){

                $('#needReceipt').show();
            }
            else {

                $('#needReceipt').hide();

            }
            //alert('You have successfully defined the function!');
            $('#IsTitleTrack').change(function () {

                if ((this.checked)) {
                    //alert('You have successfully defined the function!');
                    $('#needTrack').show();

                }

                else {

                    $('#needTrack').hide();

                }

            });
            $('#IsReceipRequired').change(function () {

                if (this.checked) {
                    $('#needReceipt').show();
                }

                else {
                    $('#needReceipt').hide();
                }

            });

          
        }

        if(@ViewBag.Edit ==1){

            $.fn.editFunc();
        }

        else if(@ViewBag.Edit !=1){

            $.fn.loadFunc();
        }

    });



    //Back Button
    $(function () {
        $('#btnPreStep9').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("Step8", "SetupProcess")',
                type: 'GET',
                data: { edit: 1 },

                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();

                },
                error: function (request, status, error) {
                    handleErrorMsg(request.responseText);

                }
            });
        });
    });

    $(".tab.9").parent("li").addClass("active").siblings().removeClass('active');
</script>

