﻿@model BankLoanSystem.Models.DashBoard
@{
    ViewBag.Title = "UserDashBoard";
}

<h2>UserDashBoard </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ActionLink("My Profile", "SearchUsers", "DashBoard", new { index = 1 }, null)
    </div>

    <br/>

    if (Model.levelId == 1 || Model.levelId == 2)
    {
        <div class="form-horizontal">

            @Html.ActionLink("Create User", "SearchUsers", "DashBoard", new { index = 2 }, null)
        </div>
    }
    if (Model.levelId == 1)
    {
        <div class="form-horizontal">
            @Html.ActionLink("Create Branch", "SearchUsers", "DashBoard", new { index = 3 }, null)
        </div>
    }

    <br />

    if (Model.levelId == 1)
    {
    <div class="form-horizontal">

        @Html.ActionLink("Manage Super Admins", "SearchUsers", "DashBoard", new { index = 4 }, null)
    </div>
    }
    if (Model.levelId == 1 || Model.levelId == 2)
    {
    <div class="form-horizontal">
        @Html.ActionLink("Manage Admins", "SearchUsers", "DashBoard", new { index = 5 }, null)
    </div>
    }
    if (Model.levelId == 1 || Model.levelId == 2)
    {
    <div class="form-horizontal">
        @Html.ActionLink("Manage Users", "SearchUsers", "DashBoard", new { index = 6 }, null)
    </div>
    }

    }
